* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 10px;
   width: 100%;
   background-color: #F4F6FC;
}
.headtext{
  display: flex;
  flex-direction: row;
  font-size:xx-large;
  font-weight: bold;
  width: 505px;
  color: white;
  background-color: #164672;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.80;
}
.mainForm {
    /* display: flex; */
    background-color:  #164672;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: block;
    padding: 10px;
    margin: auto;
    color: gold; 
    display: inline-block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Add file to read content';
    display: inline-block;
    background: linear-gradient(top, #048CAC, #048CAC);
    color: #1855CC;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
.formFields {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     height: 500px;
    width: 500px;
    text-align:justify;
    overflow:hidden;
    cursor: pointer;
    padding: 10px;
}

.footer {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  margin: auto; 
  width: 100%;
  height: 50px;
  background-color:white;
  color: rgb(24, 5, 5);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-width: 3px;
  border-bottom-width: 0px;
  border-radius: 10px;
  margin: 10px;
  opacity:1;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  clear: both;
}
.image {
  width: 15px; 
  height: 15px;
}
.icon {
  margin: 20px;
}
.beforeFooter {
width: 100%;
height: 100px;
}
.button {
    color: #1855CC; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #F3F4FC; 
    height: 30px; 
    width: 100px; 
    border: none;
    border-radius: 5px;
    display: inline-block;
}

@media (max-width: 499px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .headtext {
    width: 100%;
  }
}
/* Mobile device screen */
@media (max-width: 400px) {
  .container {
    width: 100%;
    margin-bottom: 10px;
  }
  .headtext {
    width: 100%;
    font-size: large;
  }
  
.mainForm {
 width: 100%;
  margin: auto;
}
.formFields {
  width: 100%;
}
.button {
  width: 70px;
}
.footer {
  font-size: x-small;
  margin: 10px;
  padding: 10px;
}
}
  
